<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
        <center>
            <h1> <u> Team And It's Details </u> </h1>

            <table border="3px">
                <tr>
                    <th>ipl_team</th>
                    <th>name</th>
                    <th>age</th>
                    <th>loc</th>
                </tr>
                {% for i in det %}
                <tr>
                    <td>{{i.ipl_team}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.loc}}</td>
                </tr>
                {% endfor %}
                
            </table>
        </center>
</body>
</html>