<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPL</title>
    <style>
        body{
            margin-top: 100px;
        }
        #a{
            background-color: blue;
            color: white;
            padding: 10px;
            border-radius: 10px;
        }
        h1{
            background-color: black;
            color: white;
            display: inline-block;
            
        }
        #b{
            background-color:cyan;
            color: red;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <center>
        <h1>Insert IPL Team</h1>

        <form method="POST">
            {% csrf_token %}

            <label for="name" id="b">Enter IPL Team Name : </label>
            <input type="text" name="name" id="name"><br><br>

            <input type="submit" value="Submit" id="a">

        </form>
    </center>
</body>
</html>